@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}

.language-color {
    color: #73CBD0;
}

.img {
    position: absolute;
    width: 250px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 2px #000;
}

.boxes {
    position: absolute;
    width: 440px;
    height: 230px;
    background-color: #73CBD0;
    opacity: 0.8;
}

.back-boxes {
    position: absolute;
    width: 455px;
    height: 260px;
    background-color: #9ADBFF;
    opacity: 0.5;
}

.langeage-englis-ru {
    margin-top: 91px;
    margin-left: 4px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#header h1 {
    margin-top: 24px;
    margin-left: 12px;
    font-size: 30px;
    font-weight: bold;
}

#aboutme {
    margin-top: 49px;
    margin-left: 12px;
}

#aboutme-avatar {
    margin-left: 142px;
    margin-top: 14px;
}

#aboutme-box {
    margin-top: 146px;
    right: 0;
}

#aboutme-backbox {
    margin-top: 131px;
    right: 0;
}